# Copie este arquivo para .env e ajuste com suas credenciais locais
DB_URL=jdbc:mysql://localhost:3306/product_management?useTimezone=true&serverTimezone=America/Sao_Paulo&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root